.activeLED {
	-fx-fill: linear-gradient(from 0% 0% to 100% 100%, #0cfa0d 0%, #067306 100%)
}

.inactiveLED {
	-fx-fill: linear-gradient(from 0% 0% to 100% 100%, #fa3a37 0%, #5b1414 100%)
}


.activeLEDs {
	-fx-background-color: linear-gradient(#0cfa0d, #067306);
}

.inactiveLEDs {
	-fx-background-color: linear-gradient(#0cfa0d, #5b1414);
}

.metroButton {
	-fx-padding: 5 22 5 22;   
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}